 :root {
     --green1 : #9bbc0f;
     --green2 : #8bac0f;
     --green3 : #467513;
     --green4 : #0f380f;
     --grey1 : #E0D9D2;
     --grey2 : #716A7B;
     --sans : 'Karla', sans-serif;
     --mono: 'VT323', monospace;
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 audio {
    visibility: hidden;
 }
 body {
    background: var(--grey1);
    height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #cover {
    position: relative;
    background: var(--grey2);
    padding: 2% 15% 5%;
    border-radius: 5vmin 5vmin 10vmin 5vmin;
 }

 #matrix {
   position: relative;
   top: -3vmin;
   width: 100%;
   height: 3vmin;
   margin-top: 4%;
   box-sizing: border-box;
   text-align: right;
   font-size: calc(8px + (32 - 8) * ((100vw - 300px) / (1600 - 300)));
   letter-spacing: 0.5vmin;
   font-family: var(--sans);
   color: var(--grey1);
 }
 #matrix::before {
   content: "";
   position: absolute;
   right: 52%;
   top: 50%;
   width: 25vw;
   height: 3px;
   background-color: #8b1d90;
   box-shadow: 0 6px 0 #283593;
   transform: translate(-50%);
 }

 #matrix::after {
   content: "";
   position: absolute;
   left: 110%;
   top: 50%;
   width: 10vw;
   height: 3px;
   background-color: #8b1d90;
   box-shadow: 0 6px 0 #283593;
   transform: translate(-50%);
 }

 #battery {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 15%;
   left: 0;
   bottom: 50%;
   text-transform: uppercase;
   color: red;
   font-size: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
}
#battery span {
   color: var(--grey1);
   font-family: var(--sans);
   letter-spacing: 0.25vmin;
   font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

 #screen {
   display: flex;
   background-color: var(--green4);
   justify-content: center; 
   position: relative;
   box-shadow: inset 2px 2px 10px black;
   padding: 1vmin;
 }

 #hub {
   border: 2vmin solid var(--green4);
   color: var(--green4);
   font-family: var(--mono);
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: space-between;
   font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
 }

 .points {
   background-color: var(--green1);
    text-transform: uppercase;
    text-align: center;
    padding: 2vmin 4vmin;
    margin-bottom: 2vmin;
 }
 .points span {
    display: block;
 }

 
 .grid {
    background-color: var(--green1);
    width: 70vmin;
    height: 70vmin;
    display: grid;
    border: 2vmin solid var(--green4);
 }

 .grid div {
     border: var(--green1) 2px solid;
 }

 .grid .cell {
    background-color: var(--green2);
 }
 .grid .snake {
    background-color: var(--green4);
 }

 .grid .apple {
    box-shadow: inset var(--green2) 1vmin 1vmin, inset var(--green2) -1vmin -1vmin ;
    background-color: var(--green4);
 }

 #restart {
    display: none;
 }

 .actions button {
    background-color: var(--green1);
    color: var(--green4);
    border: none;
    font-family: var(--mono);
    text-transform: uppercase;
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
    width: 100%;
    padding: 2vmin 4vmin;
    cursor: pointer;
 }

 .actions button:hover {
    background-color: var(--green3);
 }

 .modal {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2))
}

.modal > div {
   background-color: var(--green1);
   color: var(--green4);
   border: 2vmin solid var(--green4);
   box-shadow: 5px 5px 10px black;
   height: 75%;
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   font-family: var(--mono);
   text-transform: uppercase;
   text-align: center;
   font-size: calc(32px + (32 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.modal h1 {
   font-size: calc(51px + (32 - 20) * ((100vw - 300px) / (1600 - 300)));
}
.modal button {
   font-size: calc(51px + (32 - 20) * ((100vw - 300px) / (1600 - 300)));
   background-color: var(--green1);
   color: var(--green4);
   border: 1vmin solid var(--green4);
   font-family: var(--mono);
   padding: 0.5vmin 3vmin;
   text-transform: uppercase;
   cursor: pointer;
}

#credits {
   position: absolute;
   bottom: 0;
   left: 0;
   color: var(--grey2);
   font-family: var(--sans);
   padding: 0.5vmin;
   font-size: calc(5px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
}
#credits a {
   color: var(--grey2);
}